<tr>
  <td
    class="main-block__container"
    style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6"
  >
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p style="margin: 0">
            Команда Octo Browser благодарит вас за апгрейд!
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p style="margin: 0">
            Как мы и обещали, добавляем вам +5 дней к новой подписке.  Если у
            вас возникнут вопросы по новым функциям подписки или по зачислению
            бонусных дней — пишите нам в поддержку, мы поможем разобраться. 
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p style="margin: 0">Спасибо!</p>
        </td>
      </tr>
      <!-- End Text section -->
    </table>
  </td>
</tr>
